.about {
    border: 1px solid;
    padding: 40px 20px;
    text-align: center;
    margin: auto;
    border-radius: 20px;
    width: 80%;

    .about-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .profile-pic {
            width: 150px;
            height: 150px;
            overflow: hidden;
            border-radius: 50%;

            img {
                width: 100%;
                height: auto;
            }
        }

        .about-content {
            h2 {
                font-size: 2em;
                margin-bottom: 10px;
            }

            p {
                font-size: 1.1em;
                line-height: 1.6;
            }

            ul {
                list-style: none;
                text-align: left;
                padding: 0;

                li {
                    margin-bottom: 5px;
                }
            }

            .additional-content {
                display: none;

                &.expanded {
                    display: block;
                }
            }

            .expand-button {
                background-color: #333;
                color: white;
                border: none;
                padding: 10px 20px;
                margin-top: 20px;
                cursor: pointer;

                &:hover {
                    background-color: darken(#333, 10%);
                }
            }
        }
    }

    @media (min-width: 768px) {
        .about-container {
            flex-direction: row;
            justify-content: center;
            text-align: left;

            .about-content {
                flex-basis: 70%;
            }
        }
    }
}

.fa {
    margin: 1rem;
    font-size: x-large;
}
