.cybia-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Play', sans-serif;
    color: #333;
    cursor: auto;

    .cybia-header {
        background-color: #333;
        color: white;
        padding: 20px;
        text-align: center;

    }

    .cybia-content {
        flex: 1;
        display: flex;
        justify-content: space-around;
        margin: 20px;

        .cybia-aside-left,
        .cybia-aside-right {
            display: flex;
            flex-direction: column;
            width: 30%;

            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }

    .card {
        background: #f0f0f0;
        border-radius: 10px;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        margin: 3rem;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
        }

        h2,
        h3 {
            color: #2c3e50;
            margin: 10px 0;
        }

        p,
        li {
            color: #34495e;
        }

        ul {
            list-style: none;
            padding-left: 0;

            li {
                border-bottom: 1px solid #ecf0f1;
                margin-bottom: 5px;
                padding-bottom: 5px;

                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }

    .cybia-form-footer {
        background: #f4f4f4;
        padding: 20px;
        border-top: 1px solid #dcdcdc;

        .cybia-form {
            max-width: 500px;
            margin: auto;

            label {
                display: block;
                margin-bottom: 5px;
                color: #333;
            }

            input[type="text"],
            button {
                transition: all 0.3s ease;
            }

            input[type="text"] {
                width: 100%;
                padding: 10px;
                margin-bottom: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);

                &:focus {
                    border-color: #5b9bd5;
                    box-shadow: 0 0 8px rgba(91, 155, 213, 0.6);
                }
            }

            button {
                width: 100%;
                padding: 10px;
                border: none;
                border-radius: 4px;
                background-color: #333;
                color: white;
                font-size: 16px;
                cursor: pointer;

                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
                }
            }

            .cybia-response {
                color: #28a745;
                margin-top: 10px;
            }

            .cybia-response, .cybia-feedback-message {
                opacity: 1; 
                transition: opacity 0.5s ease;
            }
            

            .cybia-feedback {
                margin-top: 10px;

                label {
                    margin-right: 10px;
                }

                input[type="radio"] {
                    margin-right: 5px;
                }
            }
        }
    }

    // Media query pour les appareils mobiles
    @media (max-width: 768px) {
        .cybia-content {
            flex-direction: column;
            align-items: center;
        }

        .history {
            order: 3;
        }
    }
}
/******************/
.modal-overlay-Cybia {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  .modal-Cybia {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-200px);
    
    /*Styles types Commentaires*/
    .comment-type-select {
        margin-top: 10px;
        label {
            display: block;
            margin-bottom: 5px;
            color: #333;
            font-weight: bold;
        }
        select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: white;
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: border-color 0.3s ease, box-shadow 0.3s ease;
    
            &:focus {
                border-color: #5b9bd5;
                box-shadow: 0 0 8px rgba(91, 155, 213, 0.6);
            }
        }
    }
    

    .feedback-options {
        margin-top: 20px;
      
        label {
          margin-right: 15px;
          font-weight: bold;
      
          input[type="radio"] {
            margin-right: 5px;
          }
        }
      }
  }
  .modal-overlay-Cybia.open {
    opacity: 1;
    visibility: visible;
  }
  
  .modal-overlay-Cybia.open .modal-Cybia {
    transform: translateY(0);
  }
  .modal-Cybia button {
    background: #007bff;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem;
    transition: background-color 0.2s;
  
    &:hover {
      background-color: #0056b3;
    }
  }
  
  @media (max-width: 768px) {
    .modal {
      width: 80%;
    }
  }
        