// Header.scss
.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    order: 1;
    background-color: black;

    .logo {
        font-size: 1.5rem;
        color: whitesmoke;
    }

    .nav-toggle {
        order: 2;
        background: none;
        border: none;
        cursor: pointer;
        margin: 2rem 0px 2rem 0;

        .hamburger {
            display: block;
            width: 30px;
            height: 3px;
            background-color: whitesmoke;
            position: relative;
            transition: background-color 0.3s ease;

            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: whitesmoke;
                transition: transform 0.3s ease;
            }

            &::before {
                top: -10px;
            }

            &::after {
                top: 10px;
            }

            &.open {
                background-color: transparent;

                &::before {
                    transform: translateY(10px) rotate(45deg);
                }

                &::after {
                    transform: translateY(-10px) rotate(-45deg);
                }
            }
        }
    }

    .navigation {
        display: none;
        order: 3; // Cette propriété pousse la navigation vers le bas
        width: 100%;
        transition: transform 0.3s ease;

        &.expanded {
            display: flex;
            flex-direction: column;
            transform: translateY(0);
            border-radius: 20px;
            box-shadow: 0 4px 20px rgba(244, 244, 3, 0.96);
            margin: auto;
            padding: 1rem;
            width: 80%;

        }

        ul {
            list-style: none;
            padding: 0;

            li {
                margin-bottom: 1rem;
                color: whitesmoke;


                a {
                    text-decoration: none;
                    color: whitesmoke;

                    &:hover {
                        color: #007bff;
                    }
                }

                .login-form {
                    display: flex;
                    flex-direction: column;

                    input {
                        margin-bottom: 0.5rem;
                        padding: 0.5rem;
                        border: 1px solid #ddd;
                        border-radius: 0.25rem;
                    }

                    button {
                        padding: 0.5rem;
                        border: none;
                        border-radius: 0.25rem;
                        background-color: #333;
                        color: white;
                        cursor: pointer;

                        &:hover {
                            background-color: darken(#333, 10%);
                        }
                    }
                }
            }
        }
    }
}

// Media queries pour les écrans plus grands
@media (min-width: 768px) {
    .header {
        .nav-toggle {
            display: none;
        }

        .navigation {
            display: flex;
            flex-direction: row;

                display: flex;
                flex-direction: column;
                transform: translateY(0);
                border-radius: 20px;
                box-shadow: 0 4px 20px rgba(244, 244, 3, 0.96);
                margin: auto;
                margin-top: 5rem;
                padding: 1rem;
                width: 80%;


            ul {
                flex-direction: row;

                li {
                    margin-right: 1rem;

                    &:last-child {
                        margin-right: 0;
                        width: 30%;
                    }
                }
            }
        }
    }
}