@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  margin: 0;
  font-family: 'Play', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Raleway', sans-serif ,source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
